@import "./fonts.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

* li {
    list-style: none;
}

* a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background: url("./img/motel.jpg") center no-repeat;
    background-size: cover;
}

.login-form {
    min-width: 32rem;
    padding-top: 2rem;
}

.login-form_cont {
    margin-bottom: 5rem;
}

.form-list {
    margin: 0 auto;
    padding: 2.5rem 0;
    max-width: 29rem;
    background-color: rgba(245, 175, 65, 0.7);
    border-radius: 5px;
}

.list-item:nth-child(-n+2) {
    margin-bottom: 3rem;
}

.login-form input {
    font-family: Open Sans, sans-serif;
    font-size: 1.6rem;
    width: 25rem;
    height: 4rem;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.sublogbtn {
    font-family: Open Sans, sans-serif;
    color: rgb(255, 255, 255);
    background-color: #0c9f76;
    width: 25rem;
    height: 4rem;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}

.social-icons {
    width: 28rem;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.social-icons_list {
    display: flex;
    justify-content: space-between;
}

.user-nav__item {
    display: block;
    width: 6.5rem;
    height: 6.5rem;
    border: 0.2rem solid rgb(245, 175, 65);
    border-radius: 50%;
    padding: 1rem 0;
}

.header-nav__icons {
    width: 4rem;
    height: 4rem;
    fill: rgb(236, 232, 224);
}